;
; WhoisOnline Node Server Config 
;  -- Example 
;

db_module = db-mem
group_suffix = ".group@wio.at"

auth_method = dummy
; auth_method = imap

; port = 8042

; logout timeout of webclient 
; idletime = 60

domains[] = wio.at
domains[] = whoisonline.at

[db-mem]
; db state is not saved if "db_file" is not set
db_file = "wio.database.json"

