;
; WhoisOnline Node Server Config 
;  -- Example 
;

db_module = db-mem
group_suffix = ".group@wio.at"

auth_module = auth-dummy
; auth_module = auth-imap

; port = 8042

; logout timeout of webclient 
; idletime = 60

domains[] = wio.at
domains[] = whoisonline.at

[db-mem]
; db state is not saved if "db_file" is not set
db_file = "wio.database.json"

[auth-imap]
imap_server = "your.server.name"
; set this to true to enforce TLS certifacate checking 
; (and your mail server has a valid certificate for TLS)
tls_cert_check = false

